Package: funkeysynth
Version: 0.11-1
Architecture: armel
Maintainer: maintainer Topi Santakivi <topi.santakivi@gmail.com>
Installed-Size: 2108
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libportaudio2 (>= 19+svn20101113), libqt4-declarative (>= 4.7.4~git20110517), libqt4-opengl (>= 4.7.4~git20110517), libqtcore4 (>= 4.7.4~git20110517), libqtgui4 (>= 4.7.4~git20110517), libstdc++6 (>= 4.4.0)
Section: unknown
Priority: extra
Homepage: http://gitorious.org/funkeysynth/funkeysynth
Description: Funkeysynth
   FunkeySynth, a mobile synthesizer
